@font-face{
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
	font-style: normal;
	font-weight: 900;
}

@font-face{
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}


@font-face{
	font-family: "OpenSans-Regular";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: "OpenSans-Semibold";
	src: url("../fonts/Open_Sans/OpenSans-Semibold.ttf");
	font-style: normal;
	font-weight: 900;
}


@font-face{
	font-family: "OpenSans-Bold";
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
	font-style: normal;
	font-weight: 900;
}

@font-face{
	font-family: "OpenSans-ExtraBold";
	src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
	font-style: normal;
	font-weight: 900;
}

@font-face{
	font-family: "Myriad-Bold";
	src: url("../fonts/Myriad/myriadpro-regular.ttf");
	font-style: normal;
	font-weight: 400;
}